/* write your override styles here */
#wall .tag1 {
  display: none;
}

#wall #wall #tag2 {
  display: none;
}

#div #wall #tag3.slick {
  display: none;
}

#wall #tag4.parent {
  display: none;
}

#div #wall.parent #tag5.slick {
  display:none;
}

#body #div #wall.parent #tag6 {
  display:none;
}

#body #div #wall.parent 
